#!/bin/sh

# load private aliases
if [ -f "${HOME}/.aliases_private" ]; then
  . "${HOME}/.aliases_private"
fi

alias vim='nvim'
alias bat='batcat'

# inspired by <https://www.atlassian.com/git/tutorials/dotfiles>
# gdf stands for "git dotfiles"
alias gdf='git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

# prevent typo with `cheat`
alias chat='echo "You mean \"cheat\", right?"'

# allow aliases to be sudoed
alias sudo='sudo '

###############################################################################
# `getclip` - spits the clipboard on stdout
# `setclip < ${file}` - puts file contents in the clipboard
# `command | setclip` - puts command's output in the clipboard

: "${OSTYPE:=$(uname -s)}"
case "$OSTYPE" in
  "darwin"*) # MacOS
    alias getclip='pbcopy'
    alias setclip='pbpaste'
    ;;
  *) # Linux (hopefully)
    alias getclip='xclip -selection clipboard -o'
    alias setclip='xclip -selection c'
    ;;
esac

###############################################################################

# easier navigation
alias ..='cd ..'
alias ...='cd ../..'
alias -- -='cd -'

# Interactive operation...
alias rm='rm -iv'
alias cp='cp -iv'
alias mv='mv -iv'

# Default to human readable figures
alias df='df -h'
alias du='du -h'

# "disk usage here": disk usage of current directory
alias duh='du -cksh'

alias less='less -r'   # raw control characters
alias whence='type -a' # where, of a sort
alias grep='grep --color'
alias egrep='grep -E --color=auto'
alias fgrep='grep -F --color=auto'

# Some shortcuts for different directory listings
alias ls='ls -hF --color=tty'

###############################################################################
# misc stuff
###############################################################################

# print each dir in PATH on a separate line
# NOTE: this doesn't work as expected in zsh
# alias path='echo -e "${PATH//:/\\n}" | sort'

# Ruby/exercism.org stuff
###############################################################################
alias irb='irb --simple-prompt'
alias rubyTry='ruby -I../lib -rdisable_skip *_test.rb'
###############################################################################

# eza - successor of exa
alias eza='eza -F'
alias l='eza'
alias ll='eza -l --group-directories-first --sort extension'
alias lla='ll -a'
alias lsd='eza -D' # list directories only

# show my IP address that is going to the internet
alias myip='curl -4 icanhazip.com'
alias myip6='curl -6 icanhazip.com'

# GCP stuff
alias gcpProject='gcloud config get-value project'

# use vim with a bare minimum configuration
alias vi='nvim --clean'

# always use docker compose plugin instead of standalone docker-compose
alias docker-compose='docker compose'

# lazygit is a cool TUI for git
alias lgit='lazygit'

# lazydocker is a cool TUI for docker stats
alias ldocker='lazydocker'
