# this config is used by the shfmt plugin
# https://marketplace.visualstudio.com/items?itemName=mkhl.shfmt

[*]
end_of_line = lf
insert_final_newline = true

# see shfmt options here:
# https://github.com/mvdan/sh/blob/master/cmd/shfmt/shfmt.1.scd#examples
[*.sh]
indent_style = space

# shfmt -i 2
indent_size = 2

# shfmt -bn
binary_next_line = true

# shfmt -sr
space_redirects = true

# shfmt -ci
switch_case_indent = true

