#!/bin/sh

# private stuff
# shellcheck disable=1091
if [ -f "${HOME}/.functions_private" ]; then
  . "${HOME}/.functions_private"
fi

port() {
  port_number="${1:?port number is required as first argument}"
  # netstat \
  #   --tcp \
  #   --udp \
  #   --numeric \
  #   --listening
  netstat -tunl | grep -q ":$port_number " \
    && echo "$port_number is in use" \
    || echo "$port_number is free"
}

# print the validity interval of a given certificate
cert_validity() {
  openssl x509 -noout -dates -in "$@"
}
